*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.ancho{
    max-width: 1200px;
    margin: auto;
}

h1{
    text-align: center;
    padding: 20px;
}

nav{
    text-align: center;
    background-color: #ececec;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color:#333;
    padding: 10px 30px;
    display: inline-block;
    border-right: 1px solid #333;
    font-weight: bold;
}

nav a:last-child{
    border-right: 0px;

}

nav a:hover{
    color: #a70b3a;
}

section{
    text-align: center;
}

figure{
    text-align: center;
}


.codigo{
    width: 600px;
    margin-top: 40px;
}

figcaption{
    font-weight: bold;
}

main{
    margin-bottom: 30px;
}

h2{
    margin-left: 20px;
    margin-bottom: 20px;
}

ul{
    margin-left: 60px;
}

.btn{
    background-color: #a70b3a;
    margin-left: 50px;
    border-radius: 20px;
    padding: 6px 20px;
    text-decoration: none;
    color: #ececec;
    transition: all 0.5s;
    
}

.btn:hover{
    background-color: #333;
    padding:10px 40px ;
}

footer{
    background-color: #333;
    color: #ececec;
    height: 50px;
    padding-top: 15px;
    text-align: center;
}

